.slider {
    width: 1620px;
    display: block;
    flex-wrap: wrap;
  }
  
  /* Make the image responsive */
  .slider img {
    position: block;
    max-width: 1620px;
    height: 800px;
    aspect-ratio: 2/1;
    margin-top: 700px;
    display: block;
    flex-wrap: wrap;
    object-fit: cover;
    overflow: hidden;
  }
  
  /* Style the button and place it in the middle of the slider/image */
  .slider .btn {
    margin-left: 810px;
    position: block;
    flex-wrap: wrap;
    text-align: center;
    width: 1620px;
    overflow: hidden;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
    font-size: 20px;
    padding-left: 19px;
    padding-right: 19px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .slider .btn:hover {

    background-color: rgba(0, 0, 0, 0.726);
    padding-top: 6%;
    padding-bottom: 6%;
    text-align: center;
    position: block;
  }
  
  .slider1 {
    display: block;
    width: 1620px;
    height: 800px;
    margin-top: 200px;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.726);
    border-color: rgba(0, 0, 0, 0.856);
  }
  
  /* Make the image responsive */
  .slider1 img {
    position: flex;
    width: 1620px;
    height: 800px;
    aspect-ratio: 2/1;
    background-size: cover;
  }
  
  
  /* Style the button and place it in the middle of the slider/image */
  .slider1 .btn {
    margin-left: 810px;
    position: block;
    flex-wrap: wrap;
    text-align: center;
    width: 1620px;
    overflow: hidden;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
    font-size: 20px;
    padding-left: 19px;
    padding-right: 19px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .slider1 .btn:hover {

    background-color: rgba(0, 0, 0, 0.726);
    padding-top: 6%;
    padding-bottom: 6%;
    text-align: center;
    position: block;
  }

  .vignette-inset {
    position: relative;
    display: block;
    background-image: url('../images/posts/css-effects/3/atx-rooftop.jpg');
    background-size: cover;
    width: 1620px;
    height: 800px;
    margin-top: 190%;
  }
  
  .vignette-inset:after {
    content: '';
    position: absolute;
    display: block;
    background-image: url('../images/posts/css-effects/3/atx-rooftop.jpg');
    background-size: cover;
    width: 1620px;
    height: 800px;
    top: 0; left: 0; bottom: 0; right: 0;
    box-shadow: inset 0px 0px 150px black;
  }

  .vignette-inset1 {
    position: relative;
    display: block;
    background-image: url('../images/posts/css-effects/3/atx-rooftop.jpg');
    background-size: cover;
    width: 1620px;
    height: 800px;
    margin-top: 190%;
  }
  
  .vignette-inset1:after {
    content: '';
    position: absolute;
    display: block;
    background-image: url('../images/posts/css-effects/3/atx-rooftop.jpg');
    background-size: cover;
    width: 1620px;
    height: 800px;
    top: 0; left: 0; bottom: 0; right: 0;
    box-shadow: inset 0px 0px 150px black;
  }

  /* Mobile Responsiveness */
  @media screen and (max-width: 500px) {
    
    .wrapper .top_navbar .top_menu  
    { 
    width: calc(90% - 70px)!important; 
    height: fit-content;
    margin-left: -1%;
     } 
    .wrapper .sidebar
    {
      width: 40px !important;
      left: 0% !important;
    }
    .wrapper .top_navbar .hamburger {
      display: none;
    }
    .login,
    .logo{
      font-size: 10px !important;
    }

    .title{
      display: none !important;
      align-content: center !important;
    }
    .wrapper .top_navbar {
    width: calc(32% - 20px) !important;
    }
    
    .wrapper .top_menu ul li a{
    margin: 0 2px;
    width: 19px;
    height: 19px;
    line-height: 20px;
    }
    .sidebar ul{
    padding-inline-start: 18px;
    }
    .slider img,
    .slider1 img,
    .footer-area,
    .d-block
    {
      margin-left: -227px !important;
    }

    .carousel-inner{
      margin-left: 0px !important;
    }

    .slider img{
        margin-top: 165px;
    }
    .slider1{
      height: 127px;
    }
    
    .slider1 .btn{
      margin-left: -65px;
      width: 543px;
    }
    
    .slider .btn{
      margin-left: -65px;
    }

    
    .col-lg-4 .footer-area{
      width: 357px;
    }

    .lines .line,
    .lines .line1,
    .lines .line2{
      width: 0px;
    }
  }  

  @media screen and (max-width: 500px) {
  
    .sidebar,
    .slider1 img,
    .carousel-inner .d-block,
    .carousel-inner .d-block w-100,
    .slider .btn,
    .slider1 .btn,
    .slider img {
        width: 20%;
        height:fit-content;
    }
  }